{deps, [
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",    []}},
    {mad,    ".*", {git, "git://github.com/synrc/mad",    []}},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",    []}},
    {emqttd, ".*", {git, "git://github.com/synrc/emqttd", []}},
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",  []}}
]}.
