[
   {sample, [{port, 8000},
             {host,"127.0.0.1"},
             {protocol, http},
             {acceptors, 4},
             {max_clients, 512},
             {statics_root, "priv/www"},
             {main_page, "login.html"}
            ]},
   {bert,[{js,"deps/sample/bpe/"},
         {swift,"deps/sample/bpe/"}]},
   {n2o, [{pickler,n2o_secret},
          {formatter,n2o_bert},
          {protocols,[sample_auth,n2o_nitro,n2o_ftp]}]},
   {emq_dashboard, [{listeners_dash,[{http,18083,[{acceptors,4},{max_clients,512}]}]}]},
   {emqttd,
     [{plugins_loaded_file,"etc/loaded_plugins"},
      {plugins_etc_dir,"etc/plugins/"},
      {broker_sys_interval,60},
      {conn_force_gc_count,100},
      {cache_acl,true},
      {acl_file,"etc/acl.conf"},
      {allow_anonymous,true},
      {protocol,[{max_clientid_len,1024},{max_packet_size,262144}]},
      {client,[{client_idle_timeout,30000},{client_enable_stats,false}]},
      {session,
          [{upgrade_qos,false},
           {max_inflight,32},
           {retry_interval,20000},
           {max_awaiting_rel,100000},
           {await_rel_timeout,20000},
           {enable_stats,false},
           {expiry_interval,7200000}]},
      {queue,
          [{priority,[]},
           {type,simple},
           {max_length,infinity},
           {low_watermark,0.2},
           {high_watermark,0.6},
           {queue_qos0,true}]},
      {pubsub,[{pool_size,8},{by_clientid,true},{async,true}]},
      {bridge,[{max_queue_len,10000},{ping_down_interval,1}]},
      {listeners,
          [{tcp,1883,
               [{connopts,[]},
                {sockopts,[{backlog,1024},{nodelay,true}]},
                {acceptors,8},
                {max_clients,1024},
                {tune_buffer,false}]},
           {ssl,8883,
               [{sslopts,
                    [{versions,['tlsv1.2','tlsv1.1',tlsv1]},
                     {keyfile,"etc/certs/key.pem"},
                     {certfile,"etc/certs/cert.pem"}]},
                {connopts,[]},
                {sockopts,[{nodelay,true}]},
                {acceptors,4},
                {max_clients,512}]},
           {http,8083,
               [{connopts,[]},
                {sockopts,[{nodelay,true}]},
                {acceptors,4},
                {max_clients,64}]},
           {https,8084,
               [{sslopts,
                    [{keyfile,"etc/certs/key.pem"},
                     {certfile,"etc/certs/cert.pem"}]},
                {connopts,[]},
                {sockopts,[{nodelay,true}]},
                {acceptors,4},
                {max_clients,64}]}]},
      {sysmon,
          [{long_gc,false},
           {long_schedule,240},
           {large_heap,8388608},
           {busy_port,false},
           {busy_dist_port,true}]}]},
   {kvs, [{dba,store_mnesia},
        {schema, [kvs_user, kvs_acl, kvs_feed, kvs_subscription, emqttd_kvs ]} ]}
].
