{sys, [
       {lib_dirs, ["apps","deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "node", "1", MAD_APPS },
       {rel, "start_clean", "", [ kernel, stdlib ]},
       {boot_rel, "node"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]},
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, hipe, [{mod_cond, app}, {incl_cond, exclude}]}
      ]}.

{target_dir, "node"}.
