{sub_dirs,["apps"]}.
{deps_dir,"deps"}.
{deps, [
    {erlydtl,".*", {git, "git://github.com/voxoz/erlydtl",   []  }},
    {cowboy, ".*", {git, "git://github.com/voxoz/cowboy",    []  }},
    {gproc,  ".*", {git, "git://github.com/voxoz/gproc",     []  }},
    {fs,     ".*", {git, "git://github.com/synrc/fs",        {tag, "4.10"} }},
    {sh,     ".*", {git, "git://github.com/synrc/sh",        {tag, "2.10"} }},
    {mad,    ".*", {git, "git://github.com/synrc/mad",       {tag, "4.10"} }},
    {active, ".*", {git, "git://github.com/synrc/active",    {tag, "4.10"} }},
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",     {tag, "5.10"} }},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",       {tag, "5.10"} }}
]}.

