[
 {n2o, [{port,8001},
        {cowboy_spec,cow2},
        {app,sample},
        {upload,"./priv/static/"},
        {mode,dev},
        {routes,routes},
        {mq,n2o_gproc},
        {formatter,n2o_bert},
        {protocols,[n2o_heart,n2o_nitro,n2o_ftp]},
        {minify,{"priv/static",
                ["deps/n2o/priv/bullet.js",
                 "deps/n2o/priv/n2o.js",
                 "deps/n2o/priv/ftp.js",
                 "deps/n2o/priv/bert.js",
                 "deps/n2o/priv/nitrogen.js",
                 "deps/n2o/priv/utf8.js"]}},
        {log_modules,[config,n2o,sample,index,login,routes,n2o_heart,
                      n2o_nitro,n2o_proto,n2o_cowboy,n2o_stream]},
        {log_backend,n2o_io},
        {session,n2o_session},
        {origin,<<"*">>},
        {bridge,n2o_cowboy},
        {pickler,n2o_secret},
        {erroring,n2o_error},
        {event,pickle}]},
 {kvs, [{dba,store_mnesia},
        {schema, [kvs_user, kvs_acl, kvs_feed, kvs_subscription ]} ]}
].
